# Dépendances FastAPI
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
pydantic
python-multipart
Pillow
numpy

# Dépendances pour CLIP et FAISS
torch
torchvision
torchaudio
faiss-cpu
git+https://github.com/openai/CLIP.git

